In [1]:
import pandas as pd
pd.set_option('display.float_format', '{:.3f}'.format) # all pandas values of 3 decimals

In [2]:
df = pd.DataFrame({'Name': ['Ariel', 'Bieber', 'Cao', 'Diaosi', 'Ed', 'Fred'] , 
                   'Score1':[3, 1, 2, 9, 5, 1], 
                   'Score2':[4.3, 3.9, 1.0, 7.7, 0.5, 2.9], 
                   'Level':['good', 'bad', 'bad', 'good', 'good', 'bad'], 
                   'BLE-978-46767789': [65, 657, 78, 123, 100, 200]}
                 )
df

     Name  Score1  Score2 Level  BLE-978-46767789
0   Ariel       3   4.300  good                65
1  Bieber       1   3.900   bad               657
2     Cao       2   1.000   bad                78
3  Diaosi       9   7.700  good               123
4      Ed       5   0.500  good               100
5    Fred       1   2.900   bad               200

In [3]:
df.dtypes

Name                 object
Score1                int64
Score2              float64
Level                object
BLE-978-46767789      int64
dtype: object

#### Filter category features

In [4]:
cat_features = [x for x in df.select_dtypes(include=['object']).columns]
cat_features

['Name', 'Level']

#### Encode category columns into numbers

In [5]:
df[cat_features[1]].astype('category').cat.codes # encode 'Level' into numbers

0    1
1    0
2    0
3    1
4    1
5    0
dtype: int8

#### groupby + unique
get different names for each level group: [pandas groupby](https://blog.csdn.net/claroja/article/details/71080293?utm_source=itdadao&utm_medium=referral)

similar with `groupby` + `max`

In [6]:
df.groupby(['Level'])['Name'].unique()

Level
bad     [Bieber, Cao, Fred]
good    [Ariel, Diaosi, Ed]
Name: Name, dtype: object

In [7]:
df.groupby(['Level'])['Name'].unique().reset_index(name='NameList')

  Level             NameList
0   bad  [Bieber, Cao, Fred]
1  good  [Ariel, Diaosi, Ed]

In [8]:
df.groupby(['Level'])['Name'].nunique().reset_index(name='NameNumber')

  Level  NameNumber
0   bad           3
1  good           3