In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'Name': ['Ariel', 'Bieber', 'Cao', 'Diaosi'] , 'A':[1,2,3,9], 'B':[3.3, 4.9, 1.0, 7.7], 'C':['good', 'bad', 'bad', 'good'], 'BLE-978-46767789': [65, 657, 78, 123]})
df

   A    B  BLE-978-46767789     C    Name
0  1  3.3                65  good   Ariel
1  2  4.9               657   bad  Bieber
2  3  1.0                78   bad     Cao
3  9  7.7               123  good  Diaosi

In [4]:
df.dtypes

A                     int64
B                   float64
BLE-978-46767789      int64
C                    object
Name                 object
dtype: object

In [3]:
cat_features = [x for x in df.select_dtypes(include=['object']).columns]
cat_features

['C', 'Name']

In [7]:
df[cat_features[0]].astype('category').cat.codes

0    1
1    0
2    0
3    1
dtype: int8