# Contents
- [`to_csv` but not overwrite](#1)

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame(columns=['String', 'Integer', 'Float'])
df.loc[0] = ['Y', 5, 0.3]
df.loc[1] = ['N', 2, 6.66]
df

  String Integer  Float
0      Y       5   0.30
1      N       2   6.66

<a id='1'></a>
## `to_csv` can feed a file object:

Here this file object of `f` is for appending, so `to_csv` will not overwrite but append

Some times we don't need to concatenate the dataframe, but keep append to the csv file as follows. We don't need to reset index in this way.

In [3]:
with open('aaa.csv', 'a') as f:
    df.to_csv(f, header=False, index=False)

In [4]:
with open('aaa.csv', 'a') as f:
    df.to_csv(f, header=False, index=False)

In [5]:
pd.read_csv('aaa.csv', header=None, names=['String', 'Integer', 'Float'])

  String  Integer  Float
0      Y        5   0.30
1      N        2   6.66
2      Y        5   0.30
3      N        2   6.66